$--main-color: '';


$--first-color: #ff6316;
$--second-color: #ffe400;
$--third-color: #14e144;
$--fourth-color: rgba(5,118,254,1);
$--fifth-color: rgba(26,121,181,1);


$--success-color: #14e144;
$--warning-color: #ffe400;
$--danger-color: #ff6316;


