// tabs 间距问题

.el-tabs {
    height: 100%;

    .el-tabs__content {
        height: calc(100% - 39px);
        padding: var(--default-padding)!important;
    }

    .el-tab-pane {
        height: 100%;
    }
}


.el-tabs--border-card {
    border: 0!important;
    box-shadow: none!important;

    .el-tabs__content {
        padding: 0!important;
    }
}


.el-table {
    font-size: 13px;

    th{
        &.el-table__cell {
            background-color: var(--background-color-base)!important;
            font-weight: unset;
            color: var(--color-text-regular);
        }

        &:last-child {
            &.el-table__cell {
                background-color: var(--color-white)!important;
            }
        }
    }
    .cell {
        white-space: nowrap !important;
    }
}

